<div>
  <dff-plot :width="width / 2" :height="height" />
  <roi-plot :width="width / 2" :height="height" />

  <input type="radio" id="selection" value="selection" v-model="mode">
  <label for="selection">Selection Mode</label>
  <br>
  <input type="radio" id="time" value="time" v-model="mode">
  <label for="time">Time Mode</label>
  <br>
  <div v-show="mode === 'time'">
    <input type="range" id="timeindex" min="0" max="2001" v-model="timeIndex">
    <br>
    <span>Time index: {{ Math.floor(timeIndex * 56.8025987006) }}</span>
  </div>
  <br>
  <button id="clear">
    Clear selection
  </button>
</div>
